@using System.Web.Security;
@using Newtonsoft.Json;
@using AttendanceApp.Models;

@{

	Employee userinfo = JsonConvert.DeserializeObject<Employee>(User.Identity.Name);


}


@if (Request.IsAuthenticated)
{
	<ul class="nav navbar-nav navbar-right">
		<li>
			<a href="#">
				Bienvenido @userinfo.FirstName  @userinfo.LastName
			</a>
		</li>
		<li>@Html.ActionLink("Salir", "LogOff", "Account", new { area = "" }, new { @class = "navbar-brand" })</li>
	</ul>
}